@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('~assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('~assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italiana';
  src: url('~assets/fonts/Italiana-Regular.woff2') format('woff2'),
    url('~assets/fonts/Italiana-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('~assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('~assets/fonts/Poppins-Light.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('~assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('~assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
    url('~assets/fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('~assets/fonts/Poppins-Thin.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
